
/* Card design */
.features {
  text-align: center;
  padding: 50px;
}

.features img {
  height:100px;
  width: 100px
}

.features h2 {
  font-family: $base-font;
  font-size: $base-size;
  line-height: $base-height;
}

.features p {
  font-family: $base-font;
  font-size: $smaller-size;
  line-height: $base-height;
}
